{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h2 class="fw-bold text-success">Welcome {{ user.username }} 👋</h2>
        <p class="text-muted">
            Your trusted data bundle partner — Safe. Fast. Reliable.<br>
            Buy MTN, Telecel, and AirtelTigo data instantly with <strong>RichDataBundle</strong>.
        </p>

        <a href="{% url 'buy_bundle' %}" class="btn btn-primary mt-3 px-4">
            Buy Data Now
        </a>
    </div>
</div>
{% endblock %}
